In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
from sklearn.datasets import make_classification

In [7]:
x, y = make_classification(n_samples = 10000, n_features = 8, n_informative = 5,
                           class_sep = 2, random_state = 42)

In [25]:
print("type of x    :", type(x))
print("size of x    :", x.size)
print("shape of x   :", x.shape, "\n")
print("type of y    :", type(y))
print("size of y    :", y.size)
print("shape of y   :", y.shape)

type of x    : <class 'numpy.ndarray'>
size of x    : 80000
shape of x   : (10000, 8)

type of y    : <class 'numpy.ndarray'>
size of y    : 10000
shape of y   : (10000,)

In [43]:
df = pd.DataFrame(x)
df.

ValueError: operands could not be broadcast together with shapes (10000,8) (10000,)

,0,1,2,3,4,5,6,7
0,-0.475055,1.455643,-1.571111,-2.233576,-2.272510,-0.478333,0.012107,-1.616344
1,1.578351,4.611229,-0.527495,-1.868875,2.921311,-1.783386,3.431662,-0.178611
0,-2.677604,0.619333,-0.260753,1.768409,1.511900,-1.552257,1.182059,1.810524
0,0.379412,0.879235,-0.787970,-0.457057,3.388700,1.787840,4.294263,0.427934
0,-3.645689,3.371521,-2.061152,-1.314058,-0.169329,-2.487230,2.144342,-0.733770
...,...,...,...,...,...,...,...,...
0,-2.399057,2.275687,-0.345061,0.629983,3.397411,-1.502344,3.098817,0.583324
0,-1.487918,2.273560,-1.152804,2.062795,-0.571202,-5.398310,-2.426969,2.455303
1,0.425978,4.298317,0.536100,-1.266725,1.370092,-3.187447,1.306534,-0.254036
1,-1.182084,0.628536,0.848320,4.571744,3.057226,-4.759462,-2.439117,3.182019
0,0.411147,-0.670132,-0.696646,3.194648,5.665534,0.768006,3.040554,3.290867